<section class="landig-section">
    <section class="new-user-container">
        <span>Neu bei ......?</span>
        <a href="">Konto erstellen</a>
    </section>
  <main class="auth-container">
    <header class="auth-container-header">
      <h1>Anmeldung</h1>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span
      >
    </header>
    <main class="auth-container-main">
      <mat-form-field class="example-form-field">
        <mat-label>User Name</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Password</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <a class="forget-btn-link" href="">Password Vergessen?</a>
      <button class="btn-g-setting btn-logIn-google">Anmelden mit Google</button>
    </main>
    <footer class="auth-container-footer">
        <button class="btn-g-setting btn-logIn">Anmelden</button>
        <button class="btn-g-setting btn-guest">Gäste-LogIn</button>
    </footer>
  </main>
</section>
